/**
 *
 * About + Contact Styles
 *
 */

.about-intro{
  background-color: @red;
  color: white;
  background-image: url(../img/about/bg-about.jpg);
  background-size: cover;
  background-position: center;

  .page--active &{
		background-attachment: fixed;
	}

  h6{
    color: @red-light;
  }
  .brand-line:before{
    background-color: @red-light;
  }

}

.about-content{
  padding: 20px;
  background-color: white;
  margin-top: -12em;

  @media (min-width: 350px){
    padding: (@grid-gutter-width / 2 );
  }

  .row{
    position: relative;
  }

}

.title--about{
  margin-top: 2em;
  margin-bottom: .75em;
  font-size: @font-size-h3 / 1.5;

  @media @min-sm{
    font-size: @font-size-h3;
  }
}
.profile{
  position: relative;
}
.profile__image{
  margin-top: -4em;
  margin-left: -20px;
  margin-right: -20px;

	@media @min-sm{
		margin-left: 0;
		margin-right: 0;
	}

  @media (min-width: 795px){
    margin-top: -5em;
    padding-right: 2.5em;

  }

  img{
    width: 100%;
  }
}

.profile__image__img{
  width: 100%;
  min-height: 300px;
  background-color: @black;
  background-image: url(../img/about/profile-image.jpg);
  background-position: 60% 50%;
  background-size: 150%;

  @media @min-sm{
  	min-height: 400px;
  }

}

.profile__connects{

  @media (min-width: 795px){
    position: absolute;
    right: -.35em;
    top: 4em;
  }
}
.connect-listing{
  .mx-ul-reset();
  margin-bottom: 1em;


  li{
    display: inline-block;
    margin: 1em 1em 0 0;

    @media (min-width: 795px){
      margin: 1em 0;
      display: block;
    }
  }
  path{
    fill: @gold;
  }

  a:hover{
    path{
      fill: @gold-dark;
    }
  }
}

.contact-form{
  padding: 20px;
  background-color: #EAEAEA;
  margin-bottom: 6em;

  @media (min-width: 350px){
    padding: (@grid-gutter-width / 2 );
  }
}

.contact-form__content{
  margin-bottom: 3em;
}

.contact-form__form{
  // padding-top: 1em;
}

.form-group--name {

  @media @min-md{
    margin-right: 1.5em;
  }
}

.form-group--name,
.form-group--email {

  @media @min-md{
    display: inline-block;
    width: 46.5%;
  }
}
