
/**
 *
 * _welcome
 * _elements
 *
 */
.welcome-screen__block{
	text-align: center;

	.container{
		transform: translateY(-10%);
		@media @min-sm{
			transform: translateY(-20%);
		}
	}
}


.welcome-screen__logo{
	display: inline-block;
	margin-bottom: 2em;

	@media @min-sm{
		margin-bottom: 5em;
	}
	//position: absolute;
	//z-index: 9999;
}

.welcome-screen__logo .logo__block{
	fill: white;
	transition: fill 250ms ease;
	transition-delay: 500ms;
}
.in-view
.welcome-screen__logo .logo__block{
	fill:@red;
}

.welcome-screen__logo-text{
	text-transform: uppercase;
	font-weight: bold;

	letter-spacing: 3px;
	color: #B6B6B6;

	@media @min-sm{
		margin-top: 1em;
	}
}

.welcome-title__block{
	margin: auto;
	text-align: center;
	letter-spacing: -1px;
	line-height: 1.25;
}
.welcome-title__line{
	color: @red;
	position: relative;
	overflow: hidden;
	display: block;

	@media @min-sm{
		display: inline-block;
	}

	span{
		display: block;
		transform: translateY(100%);
	}

	.page-section__block.in-view & {
		span{
			transition: transform 1s cubic-bezier(0.82, 0, 0.26, 1);
			transform: translateY(0%);
		}
		&.creative span{ transition-delay: 000ms; }
		&.frontend span{ transition-delay: 1000ms; }
		&.developer span{ transition-delay: 500ms; }
	}

	html.no-js & span{
		transform: translateY(0%);
	}

	&.creative{
	    margin-right: -12px;
	    padding-right: 10px;
		font-weight: 100;
	}

	&.frontend{
		font-style: normal;
		text-transform: uppercase;
		font-size: .5em;
		font-weight: 600;

		span{
			transform: translateY(-100%);
		}

		@media @min-sm{
			position: absolute;
			margin-top: -1em;
		}
	}

	&.developer{
		font-style: normal;
		font-weight: 600;
		margin-top: -.25em;

		@media @min-sm{
			margin-top: 0;
		}
	}

}



.welcome-link__block,
.welcome-arrow__block{
	display: inline-block;
	transition: opacity 500ms ease;
	transition-delay: 1.75s;


	.js-on & {
		//opacity: 0;
	}
}
.in-view
.welcome-link__block,
.in-view
.welcome-arrow__block{
	//opacity: 1;
}

.welcome-link__title{
	margin: 0;
	font-size: 18px;
	display: inline-block;
	padding: .75em 1em .5em 1em;
	border: 3px solid #DCDCDC;
	border-radius: 50px;
	line-height: 1em;
	font-weight: 400;
	color: @red;
	transition: border 500ms ease;
}

.welcome-link__title:hover{
	border-color: @red;
}

.welcome-arrow__block{
	position: absolute;
	display: none;

	@media @min-sm and (min-height: 580px){
		display: block;
	}

	@media @min-sm{
		left: 4em;
		bottom: 4em;
	}
}
.welcome-arrow__block .arrow__block{
	/*transition: transform 750ms ease;*/
	display: block;
	margin: 1em auto 0 auto;
	-webkit-animation: hover 2s cubic-bezier(0.82, 0, 0.26, 1) infinite;
	-o-animation: hover 2s cubic-bezier(0.82, 0, 0.26, 1) infinite;
	animation: hover 2s cubic-bezier(0.82, 0, 0.26, 1) infinite;
}

@keyframes hover{
	0% { transform: translateY(0);}
	50% { transform: translateY(20px); }
	100% { transform: translateY(0); }
}

.welcome-screen__bg {
	position: absolute;
	// background: rgb(0, 255, 255);
	top: 0;
	width: 100%;
	height: 100%;
}

// _elements

.elements__block{
	.element{
		position: absolute;

		path{
			opacity: 0;
			transition: opacity 500ms ease;
		}

		svg{
			transition: transform 500ms @trans;
		}

		&:hover svg{
			transform: scale(1.15);
		}
		&:hover .tool-tip{
			transform: translateY(-35%);
			opacity: 1;
			transition-delay: 300ms;
		}
	}

	.tool-tip{
		position: absolute;
		z-index: 2;
		bottom: 0;
		right: 0;
		display: inline-block;
		text-align: center;
		background-color: #565656;
		padding: 4px 7px;
		color: white;
		border-radius: 12px;
		transform: translateY(0%);
		opacity: 0;
		transition: transform 500ms @trans, opacity 800ms ease;
	}

	.laptop{
		top: -23%;
		left: -28%;
		z-index: 1;

		@media @min-sm{
			top: -19%;
			left: -11%;
		}

		path{
	    	stroke-dasharray: 1038px;
	    	stroke-dashoffset: 1038px;
	    }

	    path:first-child{
	    	fill: @body-bg;
	    }
	}

	.view-loaded & .element path {
		transition: stroke-dashoffset 4s @trans, opacity 1s ease;
		transition-delay: 600ms;
		stroke-dashoffset: 0;
		opacity: 1;
	}

	.pens {
	    top: 50%;
	    left: 5%;

		path{
	    	stroke-dasharray: 187px;
	    	stroke-dashoffset: 187px;
	   }
	}

	.glasses {
	    left: 20%;

		path{
	    	stroke-dasharray: 414px;
	    	stroke-dashoffset: 414px;
	   }

	}

	.iphone {
	    top: 5%;
	    right: 25%;

		path{
	    	stroke-dasharray: 507px;
	    	stroke-dashoffset: 507px;
	   }

	}

	.chrome {
		top: 19%;
	   left: 24%;

	   @media @min-sm{
		   top: 23%;
		   left: 29%;
	   }
		path{
	    	stroke-dasharray: 256px;
	    	stroke-dashoffset: 256px;
	   }
	}

	.backbone {
	    top: 15%;
	    right: 10%;

		path{
	    	stroke-dasharray: 208px;
	    	stroke-dashoffset: 208px;
	   }
	}

	.wacom {
	    top: 39%;
	    right: 18%;

		path{
	    	stroke-dasharray: 287px;
	    	stroke-dashoffset: 287px;
	   }
	}

	.mouse {
	    left: 45%;

		path{
	    	stroke-dasharray: 366px;
	    	stroke-dashoffset: 366px;
	   }
	}

	.sketch {
	    left: 10%;

		path{
	    	stroke-dasharray: 252px;
	    	stroke-dashoffset: 252px;
	   }
	}

	.tri1 {
	    top: 10%;
	    left: 45%;
	}

}
