/*
	table of contents

	_chi

*/

.work-single-options__block{
	.clearfix();
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 6em;

	a{
		color: white;
		float: left;
		//width: 50%;
		padding: 5em 0;
		display: block;
		transition: background-color 500ms @trans;
		//background-color: @iron;

		&:hover,&:focus{
			text-decoration: none;
			background-color: @iron;
		}
	}

	span{
		font-size: @font-size-h3;
	}
}
.work-single-options__prev{
	width: 35%;
	background-color: darken(@red, 10%);
}
.work-single-options__next{
	width: 65%;
	background-color: @red;
}


// _chi

.chi-welcome__block{
	background-image: url(../img/works/chi.jpg);
}