{% extends "layout.nunjucks" %}
{% set pageName = 'about' %}
{% block content %}
<section class="page-section__block">
	<div class="page-section__inner">
		<div class="container">
			<div class="row">
				<div class="col-sm-offset-1 col-sm-11">
					<h1>About</h1>
					<div class="brand-line__block">
						<h4 class="brand-line__content" >Chris Amador</h4>
					</div>
				</div>
			</div>
			<a href="#intro" class="welcome-arrow__block">
				<svg class="arrow__block" width="24px" height="53px" viewBox="0 0 24 53" xmlns="http://www.w3.org/2000/svg">
					<title>Arrow</title>
					<path d="M11,48.1167658 L11,1.5 C11,0.94771525 11.4477153,0.5 12,0.5 C12.5522847,0.5 13,0.94771525 13,1.5 L13,48.0899297 L21.9217544,38.3254678 C22.2942883,37.9177461 22.9268104,37.8892207 23.3345321,38.2617546 C23.7422538,38.6342885 23.7707791,39.2668105 23.3982453,39.6745322 L12.7557706,51.3222456 L12.0302073,52.1163422 L11.2910386,51.3348941 L0.273513459,39.6871807 C-0.106005959,39.2859533 -0.0884081312,38.6530329 0.312819306,38.2735135 C0.714046744,37.893994 1.34696712,37.9115919 1.72648654,38.3128193 L11,48.1167658 Z M11.7344672,49.4749988 C11.8190252,49.4982289 11.9080638,49.5106354 12,49.5106354 C12.0974459,49.5106354 12.1916364,49.4966973 12.2806866,49.470706 L12.7440117,49.9605327 L11.2792798,49.9731811 L11.7344672,49.4749988 Z" id="arrow"></path>
				</svg>
			</a>
		</div>
	</div>
</section>
<section class="page-section__block">
	<div class="page-section__inner">
		<div class="container">
			<div class="row">
				<div class="col-sm-offset-1 col-sm-7">
					<p class="lead">Now, I’m not like Robin, that weirdo from my cultural anthropology class; I think that advertising is something that has its place in our society.</p>
				</div>
				<div class="col-sm-3">
					hello
				</div>
			</div>
			<div class="row row-content row-content-lg">
				<div class="col-sm-offset-1 col-sm-10">
					<h2>Years</h2>
					<p class="lead">I’m a designer living in California New York collaborating with some talented folks at Squarespace creating a better product.</p>
					<p>I started designing things when I was 12 years old, maybe that explains why even though I’m Brazilian I’m the worst soccer player ever.</p>
					<p>Ready to kill is the expression that defines me.</p>

					<p class="slide-in" data-view-scroll>Maecenas sed diam eget risus varius blandit sit amet non magna. Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
					</p>
					<p class="slide-in" data-view-scroll>Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui.
					</p>
					<p class="slide-in" data-view-scroll>Sed posuere consectetur est at lobortis. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum.
					</p>
					<p class="slide-in" data-view-scroll>Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue.
					</p>
				</div>
			</div>
			<div class="row row-content row-content-lg">
				<img class="full-width slide-in" data-view-scroll src="/assets/img/bg.png" alt="">
			</div>
			<div class="row row-content row-content-lg">
				<div class="col-sm-offset-1 col-sm-10">
					<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
					</p>
					<p>Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui.
					</p>
					<p>Sed posuere consectetur est at lobortis. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum.
					</p>
					<p>Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue.
					</p>
				</div>
			</div>

		</div>
	</div>
</section>
{% endblock %}