{% set pageName = 'works' %}

{% import 'macros/works-marco.html' as workMarco %}

{% extends "layout.nunjucks" %}

{% block content %}
<section class="section works-intro section--intro">
  <div class="container">
		<div class="section__inner">
	    <div class="nav-brand__text">
	      <h6>Creative Frontend Developer</h6>
	    </div>
	    <h1 class="title">Works</h1>
	    <div class="below-title">
	      <div class="row">
	        <div class="col-sm-8">
	          <h4 class="brand-line"> c. 2013 - 2014</h4>
	        </div>
	        <div class="col-sm-4">
	          <h6>Is it really work if you enjoy it?</h6>
	        </div>
	      </div>
	    </div>
		</div>
  </div>
</section>

<section class="section works-listing">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <div class="work-listing">
          <div class="works-listing__types-selectors">
            <ul class="work-types-selectors-listing">
              <li class="active"> <a href="#"> All </a> </li>
              <li> <a href="#"> Websites </a> </li>
              <li> <a href="#"> Brands </a> </li>
              <li> <a href="#"> Apps </a> </li>
              <li> <a href="#"> Prints <span class="item-count">6</span> </a> </li>
            </ul>
          </div>
          <div class="work-listing__col">
            <a href="#" class="single-work single-work--mobridge">
                <ul class="single-work__tags">
                  <li>#Website</li>
                  <li>#HTML5</li>
                  <li>#CSS3</li>
                </ul>
                <h3 class="single-work__title">
                  Mobridge Regional Hospital and Clinics
                </h3>
            </a>
            <a href="#" class="single-work single-work--chi">
                <ul class="single-work__tags">
                  <li>#Website</li>
                  <li>#HTML5</li>
                  <li>#CSS3</li>
                </ul>
                <h3 class="single-work__title">
                  CHI St. Alexuis Landing Redesign
                </h3>
            </a>
            <a href="#" class="single-work single-work--mobridge">
                <ul class="single-work__tags">
                  <li>#Website</li>
                  <li>#HTML5</li>
                  <li>#CSS3</li>
                </ul>
                <h3 class="single-work__title">
                  Mobridge Regional Hospital and Clinics
                </h3>
            </a>
            <a href="#" class="single-work single-work--chi">
                <ul class="single-work__tags">
                  <li>#Website</li>
                  <li>#HTML5</li>
                  <li>#CSS3</li>
                </ul>
                <h3 class="single-work__title">
                  CHI St. Alexuis Landing Redesign
                </h3>
            </a>
          </div>
          <div class="work-listing__col">
            <a href="#" class="single-work single-work--chi">
                <ul class="single-work__tags">
                  <li>#Website</li>
                  <li>#HTML5</li>
                  <li>#CSS3</li>
                </ul>
                <h3 class="single-work__title">
                  CHI St. Alexuis Landing Redesign
                </h3>
            </a>
            <a href="#" class="single-work single-work--mobridge">
                <ul class="single-work__tags">
                  <li>#Website</li>
                  <li>#HTML5</li>
                  <li>#CSS3</li>
                </ul>
                <h3 class="single-work__title">
                  Mobridge Regional Hospital and Clinics
                </h3>
            </a>
            <a href="#" class="single-work single-work--mobridge">
                <ul class="single-work__tags">
                  <li>#Website</li>
                  <li>#HTML5</li>
                  <li>#CSS3</li>
                </ul>
                <h3 class="single-work__title">
                  Mobridge Regional Hospital and Clinics
                </h3>
            </a>
            <a href="#" class="single-work single-work--chi">
                <ul class="single-work__tags">
                  <li>#Website</li>
                  <li>#HTML5</li>
                  <li>#CSS3</li>
                </ul>
                <h3 class="single-work__title">
                  CHI St. Alexuis Landing Redesign
                </h3>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




{% endblock %}
