<form action="" class="contact-form__block">
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<input class="form-control" type="text" id="name" name="name">
				<label for="name">Your Name</label>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<input class="form-control" type="email" name="email" id="email">
				<label for="email">Your Email</label>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="form-group">
				<textarea class="form-control" name="thoughts" id="thoughts" cols="30" rows="5"></textarea>
				<label for="thoughts">Your Thoughts</label>
			</div>
		</div>
	</div>
	<div class="contact-form__actions">
		<button class="btn btn-primary btn-solid"><span>Contact Me</span></button>
	</div>
</form>