{% extends "layout.nunjucks" %}
{% set pageName = 'contact' %}
{% block content %}
<section class="page-section__block">
	<div class="page-section__inner">
		<div class="container">
			<div class="row">
				<div class="col-sm-5">
					<h1>Contact</h1>
					<div class="brand-line__block">
						<h4 class="brand-line__content" >Let's create something</h4>
						<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
						<p> Ea minus, deleniti repudiandae facere quo quod perspiciatis explicabo. Rem modi cupiditate voluptatibus ea dolore cum nostrum magni doloremque at. Officiis, repudiandae. </p>
					</div>
				</div>
				<div class="col-sm-7">
					{% include "partials/contact-form.html" %}
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}