{% extends "singlework.nunjucks" %}
{% set pageName = 'dmvlambdas' %}

{% block workcontent %}
<section data-view-scroll class="section work-content-intro {{currentId}}-content-intro slide-in">
	<div class="container">
   	<div class="row">
	      <div data-view-scroll class="mockup-intro-preview">
	        <div class="mockup mockup--laptop">
	          <div class="mockup__preview" style="background-image:url(/assets/img/works/dmvlambdas/dmvlambdas-001.jpg)"></div>
	          <img src="/assets/img/works/macbook.png" alt="">
	        </div>
	        <div class="mockup mockup--iphone">
	          <div class="mockup__preview" style="background-image:url(/assets/img/works/dmvlambdas/dmvlambdas-002.jpg)"></div>
	          <img src="/assets/img/works/iphone.png" alt="">
	        </div>
	      </div>
		</div>
	</div>
</section>
<section class="section">
	<div class="container">
		<h3>DMV Lambdas is</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem at voluptatibus, fuga iste, quia ipsum, voluptatum eaque quibusdam repellendus soluta magnam amet inventore ipsam! Maiores provident accusamus alias temporibus quasi?</p>
	</div>
</section>
<section class="section">
	<div class="container">
		<div class="section__header">
			<h3 class="brand__title">Custom Design from scratch</h3>
		</div>
	</div>

	<div data-view-scroll class="full-width-img fade-in">
		<img src="/assets/img/works/dmvlambdas/dmvlambdas-003.jpg" alt="">
	</div>
	<div class="container">
		<div class="row">
			<div data-view-scroll class="col-sm-12 slide-in">
				<h5 class="brand__title">Colors</h5>
				<div  class="color-swatch-list ">
					<div class="color-swatch">
						<div style="background:#512D1E" class="color-swatch__color"></div>
						<small class="color-swatch__label">
							#512D1E
						</small>
					</div>
					<div class="color-swatch">
						<div style="background:#6E4216" class="color-swatch__color"></div>
						<small class="color-swatch__label">
							#6E4216
						</small>
					</div>
					<div class="color-swatch">
						<div style="background:#997D71" class="color-swatch__color"></div>
						<small class="color-swatch__label">
							#997D71
						</small>
					</div>
					<div class="color-swatch">
						<div style="background:#FFE8DA" class="color-swatch__color"></div>
						<small class="color-swatch__label">
							#FFE8DA
						</small>
					</div>
					<div class="color-swatch">
						<div style="background:#DEDEDE" class="color-swatch__color"></div>
						<small class="color-swatch__label">
							#DEDEDE
						</small>
					</div>
					<div class="color-swatch">
						<div style="background:#9B9B9B" class="color-swatch__color"></div>
						<small class="color-swatch__label">
							#9B9B9B
						</small>
					</div>
				</div>
			</div>
			<div data-view-scroll class="col-sm-6 slide-in">
				<h5 class="brand__title">Typography</h5>
				<img src="/assets/img/works/mobridge/mobridge-006.jpg" alt="">
			</div>
			<div data-view-scroll class="col-sm-3 slide-in">
				<h5 class="brand__title">Buttons</h5>
				<img src="/assets/img/works/mobridge/mobridge-007.png" alt="">
			</div>
			<div data-view-scroll class="col-sm-3 slide-in">
				<h5 class="brand__title">Inputs</h5>
				<img src="/assets/img/works/mobridge/mobridge-008.png" alt="">
			</div>
		</div>
	</div>
</section>
<section class="section section--view-cta">
	<a target="_blank" href="#" class="btn btn-primary btn-view-cta">
		View Live Site <span class="icon"> <svg width="19" height="19" viewBox="0 0 19 19" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>view-site</title><defs><path d="M7.5 3a7.5 7.5 0 1 0 7.5 7.5" id="a"/><mask id="c" x="0" y="0" width="15" height="15" fill="#fff"><use xlink:href="#a"/></mask><path id="b" d="M8 0h10v10"/><mask id="d" x="0" y="0" width="10" height="10" fill="#fff"><use xlink:href="#b"/></mask></defs><g transform="translate(0 1)" stroke="#DAB0B6" fill="none" fill-rule="evenodd"><use mask="url(#c)" stroke-width="4" xlink:href="#a"/><path d="M8 10l8.68-8.68" stroke-width="2" stroke-linecap="square"/><use mask="url(#d)" stroke-width="4" xlink:href="#b"/></g></svg> </span>
	</a>
</section>
{% endblock %}
