/**
 *
 *
 * _footer
 *
 */
.footer__options{
  background-color: @red;
  background-image: url(../img/bg-footer-options.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  padding: 4em 0;

  a{
    color: white;
  }
}

.footer-options__options{
  .mx-ul-brand-line();
}


.footer__bottom{
  background-color: @black;
  color: @gold-dark;
  padding: 4em 0;

  a{
    color: @gold-dark;
  }
}

.nav-links--footer{
  li{
    margin-right: 1em;
  }
  a{
    color: white;
    font-weight: bold;
  }
}
