.main-footer__block{
	background-color: white;
	position:fixed;
	z-index: -1;
	bottom: 0;
	left: 0;
	right: 0;
	//height: 13em;
	padding: 2em 0;

	.container{
		max-width: 90%;
		padding: 0;
	}
	.logo__block{
		fill: @white-dark;
	}
}
.main-footer__actions{
	text-align: right;
}
.main-footer__nav{
	text-align: center;
}

.main-footer__links{
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline-block;
	font-family: @headings-font-family;

	li{
		display: inline-block;
		margin: .5em;
	}
	a{
		font-size: 1.14em;
		color: @iron-light;
		padding: .25em;
		//font-weight: 600;

		&:hover{
			color: @red;
			text-decoration: none;
		}
	}
	.active a{
		color: @red;
	}
}
.main-footer__copyright{
	margin-top: 2em;
	text-align: center;
	color: @white-dark;
}