{% extends "singlework.nunjucks" %}
{% set pageName = 'chi' %}

{% block workcontent %}
<section class="section work-content-intro {{currentId}}-content-intro">
  <div class="container">
    <div class="row">
      <div class="mobridge-intro-preview">
        <div class="mockup mockup--laptop">
          <div class="mockup__preview mockup__preview--chi-01"></div>
          <img src="/assets/img/works/macbook.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">

    <div class="img-preview" style="background-color: #3ac2d0">
      <div class="container">
        <img src="/assets/img/works/chi-02.jpg" alt="CHI Site Design">
      </div>
    </div>
    <div class="img-preview">
      <div class="container">
        <img src="/assets/img/works/chi-03.jpg" alt="CHI Site Design">
      </div>
    </div>
    <div class="img-preview">
      <div style="background-image:url('/assets/img/works/smith-01.jpg');background-size:cover;background-position:center;height:700px;" >
        <div class="container">
          <h2>Hi</h2>
        </div>
      </div>
    </div>
    <div class="img-preview">
      <div class="container">
        <img src="/assets/img/works/chi-04.jpg" alt="CHI Site Design">
      </div>
    </div>

</section>
{% endblock %}
