{% extends "layout.nunjucks" %}
{% set pageName = 'estimate' %}
{% set pageTitle = "Website Estimate | "%}

{% block content %}
<section class="section section--intro website-estimate-intro">
  <div class="container">
		<div class="section__inner">
		    <div class="nav-brand__text">
		      <h6>Creative Front-End Developer</h6>
		    </div>

		</div>
  </div>
</section>
<div class="page__content">
	
	<section class="section" style="height: 1200px;">
		<div class="container">

			<div class="row">
				<div class="col-sm-12">
					<h3>Just a few questions to get us started</h3>
				</div>
			</div>

		</div>
	</section>

</div>
{% endblock %}
