{% extends "layout.nunjucks" %}
{% set pageName = 'about' %}
{% set pageTitle = "Website Estimate | "%}

{% block content %}
<section class="section section--intro website-estimate-intro">
  <div class="container">
		<div class="section__inner">
	    <div class="nav-brand__text">
	      <h6>Creative Front-End Developer</h6>
	    </div>
	    <h1 class="title">Website Estimate</h1>
	    <div class="below-title">
	      <div class="row">
	        <div class="col-sm-12">
	          <h4 class="brand-line">Let's bulid something great!</h4>
	        </div>
	      </div>
	    </div>
		</div>
  </div>
</section>
<section class="section website-estimate">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				Hi
			</div>
		</div>
	</div>
</section>
{% endblock %}
