{% extends "singlework.nunjucks" %}
{% set pageName = 'niea' %}

{% block workcontent %}
<section class="section {{currentId}}-content-intro">

	<div data-view-scroll class="full-width-img fade-in" style="background-image:url('/assets/img/works/niea/niea-002.jpg');background-size:cover;background-position:center;height:500px;">
		<div class="full-width-img__caption full-width-img__caption--br">
	   	<h4 class="full-width-img__title">Report Design</h4>
			<h6>50 Pages | 2016 | Print</h6>
	   </div>
	</div>
	<div data-view-scroll class="full-width-img fade-in" style="background-image:url('/assets/img/works/niea/niea-003.jpg');background-size:cover;background-position:center;height:500px;">
		<div class="full-width-img__caption full-width-img__caption--tr">
	   	<h4 class="full-width-img__title">Report Design</h4>
			<h6>50 Pages | 2016 | Print</h6>
	   </div>
	</div>
	<div data-view-scroll class="full-width-img fade-in" style="background-image:url('/assets/img/works/niea/niea-004.jpg');background-size:cover;background-position:center;height:500px;">
		<div class="full-width-img__caption full-width-img__caption--tl">
	   	<h4 class="full-width-img__title">Report Design</h4>
			<h6>50 Pages | 2016 | Print</h6>
	   </div>
	</div>
	<div data-view-scroll class="full-width-img fade-in" style="background-image:url('/assets/img/works/niea/niea-005.jpg');background-size:cover;background-position:center;height:500px;">
		<div class="full-width-img__caption full-width-img__caption--bl">
	   	<h4 class="full-width-img__title">Report Design</h4>
			<h6>50 Pages | 2016 | Print</h6>
	   </div>
	</div>
	<div data-view-scroll class="full-width-img fade-in" style="background-image:url('/assets/img/works/niea/niea-006.jpg');background-size:cover;background-position:center;height:500px;">
		<div class="full-width-img__caption full-width-img__caption--br">
	   	<h4 class="full-width-img__title">Report Design</h4>
			<h6>50 Pages | 2016 | Print</h6>
	   </div>
	</div>

</section>
{% endblock %}
