{% extends "singlework.nunjucks" %}
{% set pageName = 'misc' %}

{% block workcontent %}
<section class="section {{currentId}}-content-intro">

	<div data-view-scroll class="full-width-img fade-in" style="background-image:url('/assets/img/works/misc/ncai-001.jpg');background-size:cover;background-position:center;height:500px;">
		<div class="full-width-img__caption full-width-img__caption--br">
	   	<h4 class="full-width-img__title">Report Design</h4>
			<h6>50 Pages | 2016 | Print</h6>
	   </div>
	</div>
	<div data-view-scroll class="full-width-img fade-in" style="background-image:url('/assets/img/works/smith-01.jpg');background-size:cover;background-position:center;height:700px;">
		<div class="full-width-img__caption full-width-img__caption--tl">
	   	<h4 class="full-width-img__title">Report Design</h4>
			<h6>50 Pages | 2016 | Print</h6>
	   </div>
	</div>
</section>
{% endblock %}
