{% extends "layout.nunjucks" %}
{% set pageName = 'orphans' %}
{% set pageTitle = "Orphans | "%}
{% set orphans = [
	'01.jpg',
	'02.jpg',
	'03.jpg',
	'04.jpg',
	'05.jpg',
	'06.jpg',
	'07.jpg',
	'08.jpg',
	'bg1.jpg',
	'bg2.png'
] %}

{% set amountInLi = (orphans.length / 3) | round(0, 'ceil') %}

{% set count = 1 %}

{% block content %}
<section class="section orphans-intro section--intro">
  <div class="container">
		<div class="section__inner">
	    <div class="nav-brand__text">
	      <h6>Creative Frontend Developer</h6>
	    </div>
	    <h1 class="title">Orphans</h1>
	    <div class="below-title">
	      <div class="row">
	        <div class="col-sm-8">
	          <h4 class="brand-line">A collection of random doodles and fun experiments.</h4>
	        </div>
	        <div class="col-sm-4">
	          <h6>Projects without a proper home.</h6>
	        </div>
	      </div>
	    </div>
		</div>
  </div>
</section>
<section class="section orphans-listing">
	<div class="container">
		<ul class="orphans-listing">

			{% for orphan in orphans %}

				{% if count == 1 %}
					<li>
				{% endif %}

				{% set count = count + 1 %}

				<div class="single-orphan">
					<div class="single-orphan__inner">
						<img class="slide-in" data-view-scroll src="/assets/img/orphans/{{orphan}}" alt="">
					</div>
				</div>

				{% if count > amountInLi%}
					</li>
					{% set count = 1 %}
				{% endif %}

			{% endfor %}

		</ul>
		<aside class="quote">
			<div class="quote__inner">
				<h6 class="quote__quote">
					“Victory has 100 fathers and defeat is an orphan”
				</h6>
				<small class="quote__byline">- John F. Kennedy </small>
			</div>
		</aside>
	</div>
</section>
{% endblock %}
