{% extends "singlework.nunjucks" %}
{% set pageName = 'mobridge' %}

{% block workcontent %}

<section data-view-scroll class="section work-content-intro {{currentId}}-content-intro slide-in">
  <div class="container">
    <div class="row">
      <div data-view-scroll class="mockup-intro-preview">
        <div class="mockup mockup--laptop">
          <div class="mockup__preview" style="background-image:url(/assets/img/works/mobridge/mobridge-preview-01.jpg)"></div>
          <img src="/assets/img/works/macbook.png" alt="">
        </div>
        <div class="mockup mockup--iphone">
          <div class="mockup__preview" style="background-image:url(/assets/img/works/mobridge/mobridge-preview-02.jpg)"></div>
          <img src="/assets/img/works/iphone.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
	<div class="container">
		<h3>Hello</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi iusto laudantium, eius unde dolor laborum quisquam in error, illum quasi neque reprehenderit dolorum cum. Corporis, incidunt aliquid fugit similique! Amet.</p>
	</div>
</section>
<section class="section mobridge-brand-preview">

	<div class="container">
		<div class="section__header">
			<h3 class="brand__title">Branded Design</h3>
		</div>
	</div>

	<div class="tri-preview">

		<div data-view-scroll class="tri-preview__item tri-preview__item--primary slide-in">
			<img src="/assets/img/works/mobridge/mobridge-001.jpg" alt="">
		</div>
		<div data-view-scroll class="tri-preview__item tri-preview__item--secondary slide-in">
			<img src="/assets/img/works/mobridge/mobridge-002.jpg" alt="">
		</div>
		<div data-view-scroll class="tri-preview__item tri-preview__item--tri slide-in">
			<img src="/assets/img/works/mobridge/mobridge-003.jpg" alt="">
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div data-view-scroll class="col-sm-12 slide-in">
				<h5 class="brand__title">Colors</h5>
				<div  class="color-swatch-list ">
					<div class="color-swatch">
						<div style="background:#0F2F58" class="color-swatch__color"></div>
						<small class="color-swatch__label">
							#0F2F58
						</small>
					</div>
					<div class="color-swatch">
						<div style="background:#A0C3FC" class="color-swatch__color"></div>
						<small class="color-swatch__label">
							#A0C3FC
						</small>
					</div>
					<div class="color-swatch">
						<div style="background:#73AC41" class="color-swatch__color"></div>
						<small class="color-swatch__label">
							#73AC41
						</small>
					</div>
					<div class="color-swatch">
						<div style="background:#8DC65D" class="color-swatch__color"></div>
						<small class="color-swatch__label">
							#8DC65D
						</small>
					</div>
					<div class="color-swatch">
						<div style="background:#E3DACD" class="color-swatch__color"></div>
						<small class="color-swatch__label">
							#E3DACD
						</small>
					</div>
					<div class="color-swatch">
						<div style="background:#9D992D" class="color-swatch__color"></div>
						<small class="color-swatch__label">
							#9D992D
						</small>
					</div>
				</div>
			</div>
			<div data-view-scroll class="col-sm-6 slide-in">
				<h5 class="brand__title">Typography</h5>
				<img src="/assets/img/works/mobridge/mobridge-006.jpg" alt="">
			</div>
			<div data-view-scroll class="col-sm-3 slide-in">
				<h5 class="brand__title">Buttons</h5>
				<img src="/assets/img/works/mobridge/mobridge-007.png" alt="">
			</div>
			<div data-view-scroll class="col-sm-3 slide-in">
				<h5 class="brand__title">Inputs</h5>
				<img src="/assets/img/works/mobridge/mobridge-008.png" alt="">
			</div>
		</div>
	</div>
</section>

<section class="section section--view-cta">
	<a target="_blank" href="http://www.mobridgehospital.org/" class="btn btn-primary btn-view-cta">
		View Live Site <span class="icon"> <svg width="19" height="19" viewBox="0 0 19 19" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>view-site</title><defs><path d="M7.5 3a7.5 7.5 0 1 0 7.5 7.5" id="a"/><mask id="c" x="0" y="0" width="15" height="15" fill="#fff"><use xlink:href="#a"/></mask><path id="b" d="M8 0h10v10"/><mask id="d" x="0" y="0" width="10" height="10" fill="#fff"><use xlink:href="#b"/></mask></defs><g transform="translate(0 1)" stroke="#DAB0B6" fill="none" fill-rule="evenodd"><use mask="url(#c)" stroke-width="4" xlink:href="#a"/><path d="M8 10l8.68-8.68" stroke-width="2" stroke-linecap="square"/><use mask="url(#d)" stroke-width="4" xlink:href="#b"/></g></svg> </span>
	</a>
</section>
{% endblock %}
