{% extends "singlework.nunjucks" %}
{% set pageName = 'mobridge' %}

{% block workcontent %}

<section class="section work-content-intro mobridge-content-intro">
  <div class="container">
    <div class="row">
      <div class="mobridge-intro-preview">
        <div class="mockup mockup--laptop">
          <div class="mockup__preview mockup__preview--mobridge-01"></div>
          <img src="/assets/img/works/macbook.png" alt="">
        </div>
        <div class="mockup mockup--iphone">
          <div class="mockup__preview mockup__preview--mobridge-02"></div>
          <img src="/assets/img/works/iphone.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
